@using Tiki.Models
@model IEnumerable<GioHang>


@{
    ViewBag.Title = "Giỏ hàng của bạn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var tk = Session["KhachHang"] as Tiki.Models.KhachHang;
}


<section class="">
    <div class="container py-5">
        <div class="row d-flex justify-content-center my-4">
            <div class="col-md-8">
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center py-3">
                        <h5 class="mb-0">Giỏ hàng - <span class="main-blue-color fw-bold fs-5">@ViewBag.TongSL</span> món hàng</h5>
                        @if (Model.Any())
                        {
                            <a href="@Url.Action("DeleteAllFromCart", "Cart")" class="btn btn-danger text-decoration-none text-white" style="color: #aeaeae">
                                <i class="fas fa-trash"></i> Xóa tất cả
                            </a>
                        }
                    </div>

                    @if (Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            if (item != null)
                            {
                                <div class="card-body">
                                    <!-- Single item -->
                                    <div class="row align-items-center">
                                        <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                            <!-- Image -->
                                            <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                                                <img src="@item.HinhAnh1" class="w-100" alt="Sản phẩm" />
                                                <a href="#!">
                                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                                </a>
                                            </div>
                                            <!-- Image -->
                                        </div>

                                        <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                                            <!-- Data -->
                                            <p><strong>@item.TenSanPham</strong></p>

                                            <!-- Button trigger modal -->
                                            <button data-bs-toggle="modal" data-bs-target="#confirmPopup_@item.MaSP" type="button" class="btn btn-danger btn-sm me-1 mb-2">
                                                <i class="fas fa-trash"></i>
                                            </button>

                                            <!-- Modal -->
                                            <div class="modal fade" id="confirmPopup_@item.MaSP" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered ">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Bạn có chắc muốn xóa khỏi giỏ hàng sản phẩm này</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>

                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không</button>
                                                            <a href="@Url.Action("DeleteFromCart", "Cart", new { @MaSP = item.MaSP })" class="btn btn-danger text-decoration-none text-white" style="color: #aeaeae">
                                                                Xóa
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Data -->
                                        </div>

                                        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                                            @using (Html.BeginForm("UpdateCartQuantity", "Cart", new { maSP = item.MaSP }))
                                            {
                                                @*<button class="btn btn-dark border-0 bg-main-blue btn-sm me-1 mb-2">
                                                        <i class="fa-solid fa-rotate fa-spin-pulse"></i>
                                                        Cập nhật
                                                    </button>*@

                                                <!-- Quantity -->
                                                <div class="d-flex mb-4" style="max-width: 300px">
                                                    <button type="submit" class="btn btn-primary px-3 me-2" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                                        <i class="fas fa-minus"></i>
                                                    </button>

                                                    <div class="form-outline">
                                                        <input id="soLuong" readonly min="1" max="15" name="soLuong" value="@item.SoLuong" type="number" class="form-control" />
                                                    </div>

                                                    <button type="submit" class="btn btn-primary px-3 ms-2" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                                        <i class="fas fa-plus"></i>
                                                    </button>
                                                </div>
                                            }

                                            <!-- Quantity -->
                                            <!-- Price -->
                                            <p class="text-start text-md-center">
                                                <strong>@string.Format("{0:N0}", item.Gia) đ</strong>
                                            </p>
                                            <!-- Price -->
                                        </div>
                                    </div>
                                    <!-- Single item -->
                                    <hr class="my-4" />
                                </div>
                            }
                        }
                    }
                    else
                    {
                        <div class="card-body my-5">
                            <h2 class="text-danger fw-bold">Bạn chưa thêm sản phẩm nào vào giỏ hàng!</h2>
                        </div>
                    }
                </div>

                <div class="card mb-4">
                    <div class="card-body d-flex align-items-center">
                        <strong>Giao hàng dự kiến :</strong>
                        <p id="delivery-date" class="mb-0 ms-2 main-blue-color"></p>
                    </div>
                </div>

                <div class="card mb-4 mb-lg-0">
                    <div class="card-body">
                        <p><strong>Các loại thẻ chấp nhận</strong></p>
                        <img class="me-2" width="45" src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg" alt="Visa" />
                        <img class="me-2" width="45" src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg" alt="American Express" />
                        <img class="me-2" width="45" src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg" alt="Mastercard" />
                    </div>
                </div>
            </div>


            <div class="col-md-4">

                <div class="card bg-primary text-white rounded-3">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <h5 class="mb-0">Chi tiết thẻ</h5>
                            <img src="https://salt.tikicdn.com/ts/upload/c1/64/f7/4e6e925ea554fc698123ea71ed7bda26.png"
                                 class="img-fluid rounded-3" style="width: 45px;" alt="Avatar">
                        </div>

                        <p class="small mb-2">Loại thẻ</p>
                        <a href="#!" type="submit" class="text-white">
                            <i class="fab fa-cc-mastercard fa-2x me-2"></i>
                        </a>
                        <a href="#!" type="submit" class="text-white">
                            <i class="fab fa-cc-visa fa-2x me-2"></i>
                        </a>
                        <a href="#!" type="submit" class="text-white">
                            <i class="fab fa-cc-amex fa-2x me-2"></i>
                        </a>
                        <a href="#!" type="submit" class="text-white"><i class="fab fa-cc-paypal fa-2x"></i></a>

                        @using (Html.BeginForm("Pay", "Cart", FormMethod.Post, new { @class = "mt-4" }))
                        {
                            <div class="form-outline form-white mb-4">
                                <input type="text" id="typeName" name="TenKhachHang" readonly value="@tk.TenKhachHang" class="form-control form-control-lg" siez="17"
                                       placeholder="Jason" />
                                <label class="form-label" for="typeName">Tên chủ thẻ</label>
                            </div>

                            <div class="form-outline form-white mb-4">
                                <input type="text" id="typeText" class="form-control form-control-lg"
                                       placeholder="1234 5678 9012 3457" name="SoThe" value="@tk.SoThe" minlength="16" maxlength="19" />
                                <label class="form-label" for="typeText">Số thẻ</label>
                            </div>

                            <div class="row mb-4">
                                <div class="col-md-6">
                                    @*    <div class="form-outline form-white">
                                            <input type="date"  id="typeExp" class="form-control form-control-lg"
                                                   placeholder="02/2023" size="7" minlength="7" maxlength="7" name="NgayHH" value="@tk.NgayHH" />
                                            <label class="form-label" for="typeExp">Ngày hết hạn</label>
                                        </div>*@

                                    <div class="form-outline form-white">

                                        <input type="text" id="expirationDate" class="form-control form-control-lg" name="NgayHH" value="@tk.NgayHH"
                                               placeholder="05/2023" size="7" minlength="7" maxlength="7" oninput="formatExpirationDate(this)" />
                                        <label class="form-label" for="typeExp">Ngày hết hạn</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-outline form-white">
                                        <input type="password" id="CVV" class="form-control form-control-lg"
                                               placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3" maxlength="3" name="CVV" value="@tk.CVV" />
                                        <label class="form-label" for="CVV">Cvv</label>
                                    </div>
                                </div>
                            </div>


                            <hr class="my-4">

                            if (Model.Any())
                            {

                                <div class="d-flex justify-content-between fw-bolder">
                                    <p class="mb-2">Phí giao hàng</p>
                                    <p class="mb-2">25.000 đ</p>
                                </div>

                                <div class="d-flex justify-content-between mb-4 fw-bolder">
                                    <p class="mb-2">Tổng cộng ( Đã bao gồm thuế )</p>
                                    <p class="mb-2">@string.Format("{0:N0}", ViewBag.TongTienGioHang) đ</p>
                                </div>


                                <button type="submit" class="btn btn-light btn-lg w-100">
                                    <div class="text-center">
                                        <span class="text-uppercase">Thanh toán ngay <i class="fas fa-long-arrow-alt-right ms-2 main-blue-color"></i></span>
                                    </div>
                                </button>

                            }
                            else
                            {
                                <button disabled type="submit" class="btn btn-light btn-lg w-100">
                                    <div class="text-center">
                                        <span class="text-uppercase">Thêm sản phẩm vào giỏ hàng để thanh toán</span>
                                    </div>
                                </button>
                            }

                        }
                    </div>
                </div>

            </div>

        </div>
    </div>

</section>



<script>
    // Lấy phần tử chứa ngày giao hàng
    var deliveryDateElement = document.getElementById("delivery-date");

    // Lấy ngày hiện tại
    var currentDate = new Date();

    // Thêm 4 ngày vào ngày hiện tại
    currentDate.setDate(currentDate.getDate() + 4);

    // Tạo ngày kết thúc (ngày hiện tại + 4)
    var endDate = new Date(currentDate);
    endDate.setDate(endDate.getDate() + 4);

    // Định dạng ngày thành chuỗi (dd.mm.yyyy)
    var startDateString = currentDate.getDate() + "." + (currentDate.getMonth() + 1) + "." + currentDate.getFullYear();
    var endDateString = endDate.getDate() + "." + (endDate.getMonth() + 1) + "." + endDate.getFullYear();

    // Cập nhật nội dung của phần tử với khoảng ngày mới
    deliveryDateElement.textContent = startDateString + " - " + endDateString;



    function formatExpirationDate(input) {
        // Lấy giá trị nhập vào
        var value = input.value;

        // Loại bỏ các ký tự không phải số và "/"
        value = value.replace(/[^0-9/]/g, '');

        // Kiểm tra độ dài
        if (value.length > 7) {
            value = value.substr(0, 7);
        }

        // Tách tháng và năm
        var parts = value.split('/');

        // Định dạng lại giá trị ngày tháng
        if (parts[0]) {
            parts[0] = parts[0].substring(0, 2);
            if (parseInt(parts[1]) < 1) {
                parts[0] = '01';
            } else if (parseInt(parts[0]) > 12) {
                parts[0] = '12';
            }
        }

        if (parts[1]) {
            parts[1] = parts[1].substring(0, 4);
        }

        // Gán giá trị đã định dạng lại vào trường nhập
        input.value = parts.join('/');

        // Tự động thêm "/" sau khi nhập hai số đầu
        if (input.selectionStart === 2 && input.selectionEnd === 2 && input.value.length === 2) {
            input.value = input.value + '/';
        }
    }

</script>
