@using Tiki.Models;

@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex flex-column gap-2">
    <div class="row py-2">

        <div class="col-md-10 col-12">

            <div class="d-flex flex-column flex-md-row ">
                <div class="row ">
                    <div class="col-md-5 bg-white d-flex flex-column p-3  rounded-4" style="height: fit-content">

                        <div id="productImageCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active" data-bs-interval="2000">
                                    <img style="width:365px; height:365px;" class="rounded-4 object-fit-cover mx-auto img-fluid" src="@Model.HinhAnh1" />
                                </div>
                                <div class="carousel-item" data-bs-interval="2000">
                                    <img style="width:365px; height:365px;" class="rounded-4 object-fit-cover mx-auto" src="@Model.HinhAnh2" />
                                </div>
                                <div class="carousel-item" data-bs-interval="2000">
                                    <img style="width:365px; height:365px;" class="rounded-4 object-fit-cover mx-auto" src="@Model.HinhAnh3" />
                                </div>
                            </div>
                            <button class="carousel-control-prev ms-4" type="button" data-bs-target="#productImageCarousel" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next me-4" type="button" data-bs-target="#productImageCarousel" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>

                    </div>
                    <div class="col-md-6 d-flex flex-column p-0">
                        @*Tiêu đề*@
                        <div class=" bg-white ms-4 p-3 mb-2  rounded-4 d-flex flex-column  ">
                            <p class="cate-item">Thương hiệu : <span class="main-blue-color fw-bold">@Model.ThuongHieu</span> </p>

                            <p class="my-2 fw-bolder tiki-title fs-4 h-auto truncate-4">
                                @Model.TenSanPham
                            </p>

                            <p class="fs-5 fw-bold ">Giá : <span id="giaSP" class="fs-3 fw-bolder main-blue-color">  @string.Format("{0:N0}", Model.Gia) <sup>₫</sup></span>  </p>
                        </div>

                        @*TT nhà cung cấp*@
                        <div class=" bg-white ms-4 p-3 my-2  rounded-4 d-flex flex-column  ">
                            <p class="main-title">Thông tin người bán</p>


                            <div class="d-flex gap-2">

                                <div class=" d-flex align-items-center justify-content-center">
                                    <img src="https://salt.tikicdn.com/ts/upload/c1/64/f7/4e6e925ea554fc698123ea71ed7bda26.png" class="rounded-circle" width="40" height="40" />
                                </div>

                                <div class="d-flex flex-column">
                                    <p class="main-title m-0">@Model.NhaCungCap.TenNhaCungCap <span class="badge rounded-pill bg-main-blue ms-1">Official</span></p>
                                    <p class="m-0"><span class="main-blue-color fw-bold">@ViewBag.SoLuongSP</span> sản phẩm</p>
                                </div>

                            </div>


                        </div>

                        @*Thông tin chi tiết*@
                        <div class=" bg-white ms-4 p-3 my-2  rounded-4 d-flex flex-column  ">
                            <p class="main-title">Thông tin chi tiết</p>


                            @if (Model.ThuongHieu != null)
                            {
                                <div class="row border-bottom p-2 ">
                                    <div class="col-md-8 main-blue-color">Thương hiệu </div>
                                    <div class="col-md-4 border-start">@Model.ThuongHieu</div>
                                </div>
                            }

                            @if (Model.MaPhanLoai == 4)
                            {
                                <div class="row border-bottom p-2 ">
                                    <div class="col-md-8 main-blue-color">Năm xuất bản </div>
                                    <div class="col-md-4 border-start">@Model.XuatXu  </div>
                                </div>
                            }
                            else
                            {
                                if (Model.XuatXu != null)
                                {
                                    <div class="row border-bottom p-2 ">
                                        <div class="col-md-8 main-blue-color">Xuất xứ </div>
                                        <div class="col-md-4 border-start">@Model.XuatXu</div>
                                    </div>
                                }
                            }


                            @if (Model.Camera != null)
                            {
                                <div class="row border-bottom p-2 ">
                                    <div class="col-md-8 main-blue-color">Camera </div>
                                    <div class="col-md-4 border-start">@Model.Camera</div>
                                </div>
                            }

                            @if (Model.ROM != null)
                            {
                                <div class="row border-bottom p-2 ">
                                    <div class="col-md-8 main-blue-color">ROM </div>
                                    <div class="col-md-4 border-start">@Model.ROM GB</div>
                                </div>
                            }

                            @if (Model.RAM != null)
                            {
                                <div class="row border-bottom p-2 ">
                                    <div class="col-md-8 main-blue-color">RAM </div>
                                    <div class="col-md-4 border-start">@Model.RAM GB</div>
                                </div>
                            }

                            @if (Model.CPU != null)
                            {
                                <div class="row border-bottom p-2 ">
                                    <div class="col-md-8 main-blue-color">CPU </div>
                                    <div class="col-md-4 border-start">@Model.CPU</div>
                                </div>
                            }

                            @if (Model.ChipDoHoa != null)
                            {
                                <div class="row border-bottom p-2 ">
                                    <div class="col-md-8 main-blue-color">Đồ họa </div>
                                    <div class="col-md-4 border-start">@Model.ChipDoHoa</div>
                                </div>
                            }

                            @if (Model.KhoiLuong != null)
                            {
                                <div class="row border-bottom p-2 ">
                                    <div class="col-md-8 main-blue-color">Khối lượng </div>
                                    <div class="col-md-4 border-start">
                                        @string.Format("{0:0.0}", Model.KhoiLuong) kg

                                    </div>
                                </div>
                            }

                            @if (Model.KichThuocMH != null)
                            {
                                <div class="row border-bottom p-2 ">
                                    <div class="col-md-8 main-blue-color">Kích thước màn hình </div>
                                    <div class="col-md-4 border-start">
                                        @string.Format("{0:0.0}", Model.KichThuocMH) inches
                                    </div>
                                </div>
                            }

                            @if (Model.CongSuat != null)
                            {
                                <div class="row border-bottom p-2 ">
                                    <div class="col-md-8 main-blue-color">Công suất </div>
                                    <div class="col-md-4 border-start">@Model.CongSuat  </div>
                                </div>
                            }

                            @if (Model.BaoHanh != null)
                            {
                                <div class="row border-bottom p-2 ">
                                    <div class="col-md-8 main-blue-color">Bảo hành </div>
                                    <div class="col-md-4 border-start">@Model.BaoHanh tháng</div>
                                </div>
                            }

                            @if (Model.MaPhanLoai == 4)
                            {
                                <div class="row border-bottom p-2 ">
                                    <div class="col-md-8 main-blue-color">Tác giả </div>
                                    <div class="col-md-4 border-start">@Model.ChucNangKhac  </div>
                                </div>
                            }
                            else
                            {
                                if (Model.ChucNangKhac != null)
                                {
                                    <div class="row border-bottom p-2 ">
                                        <div class="col-md-8 main-blue-color">Chức năng khác </div>
                                        <div class="col-md-4 border-start">@Model.ChucNangKhac  </div>
                                    </div>
                                }
                            }

                        </div>



                        @*Mô tả SP*@
                        <div class=" bg-white ms-4 p-3 my-2  rounded-4 d-flex flex-column  ">
                            <p class="main-title">Mô tả sản phẩm</p>


                            <div>
                                <p class="lh-lg ">
                                    @Model.MoTa
                                </p>
                            </div>



                        </div>


                        @{ var tk = Session["KhachHang"] as Tiki.Models.KhachHang;}

                        @*COMMENT*@
                        <div class=" bg-white ms-4 p-3 my-2  rounded-4">
                            <p class="main-title">Nội dung đánh giá</p>
                            <div class="row d-flex justify-content-center">

                                @if (tk != null)
                                {
                                    using (Html.BeginForm("AddComment", "Product", FormMethod.Post, new { @class = "mx-1 mx-md-4" }))
                                    {



                                        <input type="hidden" name="MaSP" value="@Model.MaSP" />
                                        if (tk != null)
                                        {
                                            <input type="hidden" name="MaKH" value="@tk.MaKH" />
                                        }

                                        <input type="hidden" name="TenSanPham" value="@Model.TenSanPham" />
                                        <div class="col-12">
                                            <div class="card shadow-0 border bg-content-body">
                                                <div class="card-body p-4">
                                                    <div class="form-outline mb-4">
                                                        <textarea required name="NoiDung" class="form-control" rows="4" placeholder="Nhập nội dung bình luận ..."
                                                                  style="background: #fff;"></textarea>
                                                        <button type="submit" class="btn btn-primary bg-main-blue btn-sm my-2">Gửi đánh giá</button>

                                                    </div>



                                                </div>
                                            </div>
                                        </div>
                                    }

                                }
                                else
                                {
                                    <p class=" fw-bold ">Hãy <a class="text-decoration-underline main-blue-color" href="@Url.Action("SignIn","User")">tiến hành đăng nhập</a>  để bình luận.</p>

                                }

                                @foreach (var cmt in ViewBag.BinhLuanList)
                                {
                                    <div class="card mt-4">
                                        <div class="card-body">
                                            <p class="fw-bold">@cmt.NoiDung</p>

                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex flex-row align-items-center">
                                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar" width="25"
                                                         height="25" />
                                                    <p class="small mb-0 ms-2 main-blue-color">@cmt.KhachHang.TenKhachHang</p>
                                                </div>
                                                <div class="d-flex flex-row align-items-center">
                                                    <p class="small text-muted mb-0">@cmt.NgayBinhLuan</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                }





                            </div>
                        </div>

                    </div>

                </div>


            </div>


        </div>

        <div class="col-md-2 col-12 bg-white p-3 rounded-4" style="height: fit-content;">
            <p>Số lượng</p>
            @using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post))
            {

                <div class="input-group my-2 flex-nowrap justify-content-center">
                    <button class="btn btn-primary me-2" type="button" onclick="decrementQuantity(this)">
                        <i class="fas fa-minus"></i>
                    </button>
                    <div class="form-outline">
                        <input id="soLuong" min="1" max="15" name="soLuong" value="1" readonly type="number" class="form-control text-center" />
                    </div>
                    <button class="btn btn-primary ms-2" type="button" onclick="incrementQuantity(this)">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>

                <div class="my-4">
                    <p class="main-title">
                        Tổng tạm tính
                        <span id="tamTinh" class="fs-3 fw-bolder main-blue-color d-block"> @string.Format("{0:N0}", Model.Gia) đ</span>
                    </p>
                </div>

                <input type="hidden" name="maSP" value="@Model.MaSP" /> <!-- Để truyền mã sản phẩm -->
                <button type="submit" class="w-100 btn btn-primary bg-main-blue">Thêm vào giỏ hàng</button>
            }
        </div>


    </div>


</div>




<script>
  function incrementQuantity(button) {
    const input = button.parentNode.querySelector('input[type=number]');
    if (input.value < 15) {
      input.stepUp();
      updateProvisionalPrice();
    }
  }

  function decrementQuantity(button) {
    const input = button.parentNode.querySelector('input[type=number]');
    if (input.value !== "0") {
      input.stepDown();
      updateProvisionalPrice();
    }
    }


  //Cập nhật giá tiền
  function updateProvisionalPrice() {
    const quantityInput = document.getElementById('soLuong');
    const priceElement = document.getElementById('tamTinh');
    const gia = parseFloat('@Model.Gia'); // Lấy giá từ Model và chuyển đổi thành số thực

    const quantity = parseInt(quantityInput.value);
    const total = quantity * gia;

    // Format và hiển thị tổng tạm tính
    priceElement.innerText = formatCurrency(total);
  }

  function formatCurrency(amount) {
    return amount.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
  }

  // Gọi hàm cập nhật giá khi trang được tải
  document.addEventListener('DOMContentLoaded', function () {
    updateProvisionalPrice();
  });
</script>
