
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_SellerLayout.cshtml";
}
@{
    var tk = Session["NhaCungCap"] as Tiki.Models.NhaCungCap;
}
<!-- PAGE CONTAINER-->
<div class="page-container">

    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">

                @if (ViewBag.IsLoading == true)
                {
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="overview-wrap">
                                <h2 class="title-1">Tổng kết</h2>

                            </div>
                        </div>
                    </div>
                    <div class="row m-t-25">
                        <div class="col-sm-6">
                            <div class="overview-item overview-item--c1">
                                <div class="overview__inner">
                                    <div class="overview-box clearfix">
                                        <div class="icon">
                                            <i class="zmdi zmdi-account-o"></i>
                                        </div>
                                        <div class="text">
                                            <h2>@ViewBag.SoLuongSP</h2>
                                            <span>Sản phẩm đăng bán</span>
                                        </div>
                                    </div>
                                    <div class="overview-chart">
                                        <canvas id="widgetChart1"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="overview-item overview-item--c2">
                                <div class="overview__inner">
                                    <div class="overview-box clearfix">
                                        <div class="icon">
                                            <i class="zmdi zmdi-shopping-cart"></i>
                                        </div>
                                        <div class="text">
                                            <h2>@ViewBag.SoLuongBan</h2>
                                            <span>Đã bán</span>
                                        </div>
                                    </div>
                                    <div class="overview-chart">
                                        <canvas id="widgetChart2"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="overview-item overview-item--c3">
                                <div class="overview__inner">
                                    <div class="overview-box clearfix">
                                        <div class="icon">
                                            <i class="zmdi zmdi-calendar-note"></i>
                                        </div>
                                        <div class="text">
                                            <h2>@ViewBag.TongBL</h2>
                                            <span>Lượt đánh giá</span>
                                        </div>
                                    </div>
                                    <div class="overview-chart">
                                        <canvas id="widgetChart3"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="overview-item overview-item--c4">
                                <div class="overview__inner">
                                    <div class="overview-box clearfix">
                                        <div class="icon">
                                            <i class="zmdi zmdi-money"></i>
                                        </div>
                                        <div class="text">
                                            @if (ViewBag.TongDoanhThu != null)
                                            {
                                                <h2>@string.Format("{0:N0}", @ViewBag.TongDoanhThu) <sup>đ</sup></h2>
                                            }
                                            else
                                            {
                                                <h2>0 <sup>đ</sup></h2>
                                            }
                                            <span>Doanh thu</span>


                                        </div>
                                    </div>
                                    <div class="overview-chart">
                                        <canvas id="widgetChart4"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="row">
                        <div class="col-12">
                            <div class="au-card au-card--no-shadow au-card--no-pad m-b-40">
                                <div class="au-card-title" style="background-image:url('images/bg-title-01.jpg');">
                                    <div class="bg-overlay bg-overlay--blue"></div>
                                    <h3>
                                        <i class="zmdi zmdi-account-calendar"></i>Danh sách các đánh giá
                                    </h3>

                                </div>
                                <div class="au-task js-list-load">
                                    <div class="au-task__title">
                                        <p>Đánh giá các sản phẩm của <span class=" main-blue-color fw-bold">@tk.TenNhaCungCap</span></p>
                                    </div>
                                    <div class="au-task-list js-scrollbar3">

                                        @foreach (var item in ViewBag.BinhLuanList)
                                        {
                                            <div class="au-task__item au-task__item--danger">
                                                <div class="au-task__item-inner">
                                                    <div class="task">
                                                        <h4 class="main-blue-color">
                                                            <i class="fa-solid fa-user me-1" style="color: #0a68ff;"></i>
                                                            @item.KhachHang.TenKhachHang
                                                        </h4>
                                                        <p class="text-truncate fw-bolder">
                                                            <i class="fa-solid fa-comment-dots fa-flip-horizontal me-1" style="color: #0a68ff;"></i>
                                                            @item.NoiDung
                                                        </p>
                                                    </div>
                                                    <span class="text-body-tertiary">
                                                        <i class="fa-solid fa-calendar-days me-1" style="color: #0a68ff;"></i>
                                                        @item.NgayBinhLuan
                                                    </span>
                                                    <p class="text-truncate my-2">Trong sản phẩm : <span class="main-blue-color fw-bold"> @item.SanPham.TenSanPham</span></p>
                                                </div>
                                            </div>
                                        }



                                    </div>
                                    <div class="au-task__footer">
                                        <button class="au-btn au-btn-load js-load-btn">load more</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>Copyright © 2023 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT-->
    <!-- END PAGE CONTAINER-->
</div>


