@using Tiki.Models
@model IEnumerable<DoanhThuTheoSanPham>


@{
    ViewBag.Title = "Management";
    Layout = "~/Views/Shared/_SellerLayout.cshtml";
}

<div class="page-container">

    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content--p30">
            <ul class="nav nav-pills nav-justified mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Doanh thu theo sản phẩm</button>
                </li>

            </ul>


            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active container" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                    @if (Model.Any())
                    {
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive table--no-card m-b-40">
                                    <table class="table table-borderless table-striped table-earning">
                                        <thead>
                                            <tr>
                                                <th>Ngày bán</th>
                                                <th>ID đơn hàng</th>
                                                <th>Tên sản phẩm</th>
                                                <th class="text-right">Trạng thái</th>
                                                <th class="text-right">Giá</th>
                                                <th class="text-right">Số lượng</th>
                                                <th class="text-right">Tổng cộng</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                            <tr>
                                                <td>@item.NgayBan.ToString("dd/MM/yyyy")</td>
                                                <td>@item.IDDonHang</td>
                                                <td>@item.TenSanPham</td>
                                                <td class="text-right fw-bold">Đã duyệt</td>
                                                <td class="text-right">@item.Gia.ToString("C0")</td>
                                                <td class="text-right">@item.SoLuong</td>
                                                <td class="text-right">@item.TongCong.ToString("C0")</td>

                                            </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>
                            </div>

                        </div>
                    }
                    else
                    {
                        <h2 class="text-center text-danger">Bạn chưa bán được sản phẩm nào !</h2>
                    }

                </div>


            </div>

        </div>
    </div>
</div>

