@model Tiki.Models.NhaCungCap

@{
    ViewBag.Title = "SellerSignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="py-4">
    <div class="container mx-0 px-0 ">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-3">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                                    Trở thành nhà cung cấp
                                    <img src="~/Assets/tiki_logo.png" width="50" height="50" />
                                </p>

                                @using (Html.BeginForm("SellerSignUp", "Seller", FormMethod.Post, new { @class = "mx-1 mx-md-4" }))
                                {
                                    @Html.AntiForgeryToken()

                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })



                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                            <label class="form-label" for="tenncc">Tên nhà cung cấp</label>
                                            <input type="text" id="tenncc" name="TenNhaCungCap" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.TenNhaCungCap)
                                        </div>
                                    </div>



                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <i class="fa-solid fa-lg fa-fw me-3 fa-location-dot"></i>


                                            <label class="form-label" for="address">Địa chỉ</label>
                                            <input type="text" id="address" name="DiaChi" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })

                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <i class="fa-solid fa-lg fa-fw me-3 fa-phone"></i>
                                            <label class="form-label" for="sdt">Số điện thoại</label>
                                            <input type="text" id="sdt" name="SoDienThoai" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
                                            @Html.ValidationMessageFor(model => model.SoDienThoai, "", new { @class = "text-danger" })


                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                            <label class="form-label" for="email">Email</label>
                                            <input type="email" id="email" name="Email" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">

                                        <div class="form-outline flex-fill mb-0">
                                            <i class="fas fa-key fa-lg me-3 fa-fw"></i>

                                            <label class="form-label" for="mk">Mật khẩu</label>
                                            <input type="password" id="mk" name="MatKhau" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                                        </div>
                                    </div>


                                    <div class="form-check d-flex mb-2">
                                        <input class="form-check-input me-2" type="checkbox" checked id="terms" />
                                        <label class="form-check-label" for="terms">
                                            Tôi đã đồng ý <a href="#!">các điều khoản.</a>
                                        </label>
                                    </div>

                                    <p class="text-muted mb-4">Đã có tài khoản ? <a href="@Url.Action("SellerSignIn","Seller")">Đăng nhập ngay</a> </p>

                                    <div class="d-flex justify-content-center mb-3 mb-lg-4 w-100">
                                        <button type="submit" class="btn btn-primary btn-lg w-100">Đăng ký ngay!</button>
                                    </div>
                                }

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                <img src="https://img.freepik.com/free-vector/new-product-concept-illustration_114360-6721.jpg?w=740&t=st=1698238665~exp=1698239265~hmac=193cfe178287b5c1e7203016584697c7a717242057f28756622f0b4f1457367a"
                                     class="img-fluid" alt="Sample image">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

