@using Tiki.Models;
@model List<PhanLoaiSP>

@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="~/Content/home.css" />




<div class="d-flex flex-column flex-md-row py-4 justify-content-between gap-2 my-2 my-md-0">

    <div class="col-md-2 bg-white rounded-4 p-4 " style="height:fit-content;">
        <p class="main-title">Danh Mục</p>

        <div class="row">
            @foreach (var item in ViewBag.PhanLoaiList)
            {
                <a class="col-md-12 col-4 mb-4 cate-item main-hover text-decoration-none text-dark" href="@Url.Action("ProductByCategory","Home", new {tenPL = item.TenPhanLoai})">
                    <img class="rounded-2" src="@item.Icon" width="32" height="32" />
                    <span class="tiki-title">@item.TenPhanLoai</span>
                </a>
            }


        </div>
    </div>

    <div class="col-md-10 overflow-x-hidden">
        <div class="d-flex flex-column gap-4">
            @*BANNER*@
            <div class="d-flex flex-column flex-md-row gap-2 bg-white   rounded-4  p-4 ">
                <img class="rounded-4 h-auto ratio-1x1 object-fit-cover w-50 mx-auto" src="https://salt.tikicdn.com/cache/w750/ts/tikimsp/3b/18/cb/df7d2da5aac0e54eb952625d77639006.jpg.webp" />

                <img class="rounded-4 h-auto ratio-1x1 object-fit-cover w-50 mx-auto" src="https://scontent.fsgn5-3.fna.fbcdn.net/v/t1.15752-9/386881252_359488503254560_453353020862260389_n.webp?_nc_cat=104&ccb=1-7&_nc_sid=8cd0a2&_nc_eui2=AeFCo-w1M_9CeWzT7B0NxxYPltBsaled6D2W0GxqV53oPZEJirrnycNZ0r00MdQWyhtCCpbJEuNejwYywNhmEobY&_nc_ohc=8UQ1Z2hJ0yYAX-9LJHs&_nc_oc=AQkHLXGjneqwu4zxpqfGzdPrNw9ltkB0zyLZSOjlz-QK8ai3A9EIzihzKbvNpSuYZfOq9KQdmP1eil4UJKaCsKS6&_nc_ht=scontent.fsgn5-3.fna&oh=03_AdT7W8JUl8OgsCtqMknMTEhpXkHFzKjNY8rhovOZHh-10g&oe=657C4057" />

            </div>

            <div class="d-flex flex-column gap-2 bg-white   rounded-4  p-4 ">
                <p class="main-title">Sản phẩm bạn có thể quan tâm</p>


                <!-- LIST SẢN PHẨM -->
                <div class="container">
                    <div class="row gy-2">
                        @foreach (var item in ViewBag.SanPhamList)
                        {
                            //render sản phẩm ở đây
                            <div class="col-lg-3 col-md-6">
                                <a class="card m-0 overflow-hidden rounded-2 text-decoration-none" href="@Url.Action("Detail", "Product", new { tenSP = item.TenSanPham })">
                                    <img src="@item.HinhAnh1" class="card-img-carousel overflow-hidden" />
                                    <div class="card-body">

                                        <p class="card-text truncate-2 tiki-title">
                                            @item.TenSanPham
                                        </p>

                                        <p class="card-text truncate-2 tiki-title main-blue-color fw-bold">
                                            @item.ThuongHieu
                                        </p>
                                    </div>
                                    <div class="card-footer fs-5">
                                        Giá : <small class="main-blue-color ">@string.Format("{0:N0}", item.Gia) đ</small>
                                    </div>
                                </a>
                            </div>

                        }



                    </div>
                </div>


            </div>

        </div>



    </div>

</div>
