
@{
    ViewBag.Title = "ProductByCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="d-flex flex-column flex-lg-row py-4 justify-content-between gap-2 my-2 my-md-0">

    <div class="col-lg-2  bg-white rounded-4 p-4">
        HI
    </div>

    <div class="col-lg-10 bg-white rounded-4 p-4 ms">
        <!-- LIST SẢN PHẨM -->
        <div class="row gy-2">
            <div class="col-6 col-sm-4 col-md-3 custom-grid-item">
                <a class="card m-0 overflow-hidden rounded-2 text-decoration-none" href="@Url.Action("Detail","Product")">
                    <img src="https://salt.tikicdn.com/cache/280x280/ts/product/b0/f7/91/8e1581fb2d7321c71b3b9b14409a943b.jpg.webp" class="card-img-carousel overflow-hidden" />
                    <div class="card-body">

                        <p class="card-text truncate-2 tiki-title">
                            Tai nghe KZ Z1 PRO Bluetooth 5.2 TWS  không dây năng động Điều khiển cảm ứng và chống nước
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">383.000</small> <sup>₫</sup>
                    </div>
                </a>
            </div>

            <div class="col-6 col-sm-4 col-md-3 custom-grid-item">
                <a class="card m-0 overflow-hidden rounded-2 text-decoration-none" href="@Url.Action("Detail","Product")">
                    <img src="https://salt.tikicdn.com/cache/280x280/ts/product/b0/f7/91/8e1581fb2d7321c71b3b9b14409a943b.jpg.webp" class="card-img-carousel overflow-hidden" />
                    <div class="card-body">

                        <p class="card-text truncate-2 tiki-title">
                            Tai nghe KZ Z1 PRO Bluetooth 5.2 TWS  không dây năng động Điều khiển cảm ứng và chống nước
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">383.000</small> <sup>₫</sup>
                    </div>
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 custom-grid-item">
                <a class="card m-0 overflow-hidden rounded-2 text-decoration-none" href="@Url.Action("Detail","Product")">
                    <img src="https://salt.tikicdn.com/cache/280x280/ts/product/b0/f7/91/8e1581fb2d7321c71b3b9b14409a943b.jpg.webp" class="card-img-carousel overflow-hidden" />
                    <div class="card-body">

                        <p class="card-text truncate-2 tiki-title">
                            Tai nghe KZ Z1 PRO Bluetooth 5.2 TWS  không dây năng động Điều khiển cảm ứng và chống nước
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">383.000</small> <sup>₫</sup>
                    </div>
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 custom-grid-item">
                <a class="card m-0 overflow-hidden rounded-2 text-decoration-none" href="@Url.Action("Detail","Product")">
                    <img src="https://salt.tikicdn.com/cache/280x280/ts/product/b0/f7/91/8e1581fb2d7321c71b3b9b14409a943b.jpg.webp" class="card-img-carousel overflow-hidden" />
                    <div class="card-body">

                        <p class="card-text truncate-2 tiki-title">
                            Tai nghe KZ Z1 PRO Bluetooth 5.2 TWS  không dây năng động Điều khiển cảm ứng và chống nước
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">383.000</small> <sup>₫</sup>
                    </div>
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 custom-grid-item">
                <a class="card m-0 overflow-hidden rounded-2 text-decoration-none" href="@Url.Action("Detail","Product")">
                    <img src="https://salt.tikicdn.com/cache/280x280/ts/product/b0/f7/91/8e1581fb2d7321c71b3b9b14409a943b.jpg.webp" class="card-img-carousel overflow-hidden" />
                    <div class="card-body">

                        <p class="card-text truncate-2 tiki-title">
                            Tai nghe KZ Z1 PRO Bluetooth 5.2 TWS  không dây năng động Điều khiển cảm ứng và chống nước
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">383.000</small> <sup>₫</sup>
                    </div>
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 custom-grid-item">
                <a class="card m-0 overflow-hidden rounded-2 text-decoration-none" href="@Url.Action("Detail","Product")">
                    <img src="https://salt.tikicdn.com/cache/280x280/ts/product/b0/f7/91/8e1581fb2d7321c71b3b9b14409a943b.jpg.webp" class="card-img-carousel overflow-hidden" />
                    <div class="card-body">

                        <p class="card-text truncate-2 tiki-title">
                            Tai nghe KZ Z1 PRO Bluetooth 5.2 TWS  không dây năng động Điều khiển cảm ứng và chống nước
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">383.000</small> <sup>₫</sup>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>