@using Tiki.Models;
@model List<SanPham>

@{
    ViewBag.Title = "ProductByCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="d-flex flex-column flex-lg-row py-4 justify-content-between gap-2 my-2 my-md-0">

    <div class="col-lg-2  bg-white rounded-4 p-4">
        HI
    </div>

    <div class="col-lg-10 bg-white rounded-4 p-4 ms">
        <!-- LIST SẢN PHẨM -->
        <div class="row gy-2">

            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <div class="col-lg-3 col-md-6">
                        <a class="card m-0 overflow-hidden rounded-2 text-decoration-none" href="@Url.Action("Detail", "Product", new { tenSP = item.TenSanPham })">
                            <img src="@item.HinhAnh1" class="card-img-carousel overflow-hidden" />
                            <div class="card-body">

                                <p class="card-text truncate-2 tiki-title">
                                    @item.TenSanPham
                                </p>

                                <p class="card-text truncate-2 tiki-title main-blue-color fw-bold">
                                    @item.ThuongHieu
                                </p>
                            </div>
                            <div class="card-footer fs-5">
                                Giá : <small class="main-blue-color ">@string.Format("{0:N0}", item.Gia) đ</small>
                            </div>
                        </a>
                    </div>

                }
            }
            else
            {
                <div class="mh-100">

                    <h2 class="alert alert-warning text-danger rounded-2">Không có sản phẩm nào ! Xin quay lại sau</h2>
                </div>
            }



        </div>
    </div>

</div>