<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tiki</title>
    <link rel="icon" type="image/x-icon" href="https://salt.tikicdn.com/ts/upload/c1/64/f7/4e6e925ea554fc698123ea71ed7bda26.png">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="container-fluid p-0">


    @{
        var tk = Session["KhachHang"] as Tiki.Models.KhachHang;
    }

    @*Navbar*@
    <nav class="navbar navbar-expand-lg bg-white pt-4 pb-2">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index","Home")">
                <img src="https://salt.tikicdn.com/ts/upload/c1/64/f7/4e6e925ea554fc698123ea71ed7bda26.png" width="72" height="72" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#appNavbar" aria-controls="appNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="appNavbar">


                <div class="input-group flex-column-reverse " style="width: 60%;">
                    @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "form-outline flex-fill" }))
                    {
                        <div class="d-flex gap-2">
                            <input type="search" id="searchForm" name="searchString" class="form-control form-control-lg " style="font-size:14px" placeholder="Tìm kiếm sản phẩm ..." />
                            <button type="submit" class="btn btn-primary bg-main-blue ">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                    }
                    @*<form class=" form-outline flex-fill">
                        <div class="d-flex gap-2">
                            <input type="search" id="searchForm" class="form-control form-control-lg " style="font-size:14px" placeholder="Tìm kiếm sản phẩm ..." />
                            <button type="submit" class="btn btn-primary bg-main-blue ">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                    </form>*@
                    <div class="form-helper mb-2">
                        <span class="font-weight-bold">Gợi ý:</span>
                        <a href="#!" class="text-black-50">Sách,</a>
                        <a href="#!" class="text-black-50">iphone 15,</a>
                        <a href="#!" class="text-black-50">bình nước,</a>
                        <a href="#!" class="text-black-50">bàn chải,</a>

                    </div>

                </div>




                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active main-hover" aria-current="page" href="#">Trang chủ</a>
                    </li>

                    @*<li class="nav-item">
                        <a class="nav-link main-hover" href="#">Astra</a>
                    </li>*@


                    @if (tk != null)
                    {
                        <li class="nav-item">
                            @Html.Action("CartPartial", "Cart", new { maKH = tk.MaKH })
                        </li>
                    }





                    <!-- Dropdown -->
                    @if (tk != null)
                    {
                        @*ĐÃ ĐNHAP*@
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle dropdown-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                @tk.TenKhachHang
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item">Xin chào @tk.TenKhachHang !</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="@Url.Action("General","User", new {tenKH= tk.TenKhachHang})">Quản lý chung</a></li>
                                <li><a class="dropdown-item" href="#">Chăm sóc khách hàng</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="@Url.Action("LogOut","User")">Đăng xuất</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Tài khoản
                            </a>
                            @*CHƯA ĐNHAP*@
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="@Url.Action("SignUp","User")">Đăng ký tài khoản</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("SignIn","User")">Đăng nhập tài khoản</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="@Url.Action("SellerSignIn","Seller")">Đăng ký tài khoản bán hàng</a></li>

                            </ul>



                        </li>

                    }




                </ul>

            </div>
        </div>



    </nav>
    <hr class="m-0" />




    <div class="container-fluid bg-content-body">
        <div class="container py-md-4 py-2">
            @RenderBody()
        </div>

    </div>


    <!--FOOTER -->
    <div class="container-fluid p-0">
        <!-- Footer -->
        <footer class="text-center text-lg-start text-white bg-main-blue">
            <!-- Grid container -->
            <div class="container p-4">
                <!-- Section: Links -->
                <section class="">
                    <!--Grid row-->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                            <img src="https://scontent.fsgn5-13.fna.fbcdn.net/v/t1.15752-9/371461063_874277514081020_2315435889678632742_n.webp?_nc_cat=106&ccb=1-7&_nc_sid=8cd0a2&_nc_eui2=AeFzELhFIs1ozJtU0Dbb6wvwC5hH7FyXnYsLmEfsXJedi_h05_F6AVY9rwOlR0eF6ohC8ZApmF8HMnovesKI51yo&_nc_ohc=_weDTDH0QtgAX_q-Uw3&_nc_ht=scontent.fsgn5-13.fna&oh=03_AdQOOXQmlrg8MljNG4G05ennx2fwokyQgcUOkARdnUfQbQ&oe=657C4D7D" width="72" height="72" />
                            <p class="mt-2">
                                Trụ sở chính: Tòa nhà Viettel, Số 285, đường Cách Mạng Tháng 8, phường 12, quận 10, Thành phố Hồ Chí Minh <br />
                            </p>
                        </div>
                        <!-- Grid column -->

                        <hr class="w-100 clearfix d-md-none" />

                        <!-- Grid column -->
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">Hỗ Trợ Khách Hàng</h6>
                            <p>
                                <a class="text-white" href="#">Các câu hỏi thường gặp</a>
                            </p>
                            <p>
                                <a class="text-white" href="#">Hướng dẫn đặt hàng</a>
                            </p>
                            <p>
                                <a class="text-white" href="#">Chính sách trả hàng</a>
                            </p>
                            <p>
                                <a class="text-white" href="#">Phương thức vận chuyển</a>
                            </p>
                        </div>
                        <!-- Grid column -->

                        <hr class="w-100 clearfix d-md-none" />

                        <!-- Grid column -->
                        <hr class="w-100 clearfix d-md-none" />

                        <!-- Grid column -->
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">Liên hệ</h6>
                            <p><i class="fas fa-home mr-3"></i> HUFLIT </p>
                            <p><i class="fas fa-envelope mr-3"></i> jasonn0203@gmail.com</p>

                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">Tải ứng dụng tại:</h6>
                            <div class="d-flex align-items-center gap-2">
                                <img src="~/Assets/qr_app.png" width="80" height="80" />
                                <div class="d-flex flex-column gap-1">
                                    <img src="https://scontent.fsgn5-12.fna.fbcdn.net/v/t1.15752-9/370232261_2059976814339687_2254684941255978070_n.png?_nc_cat=103&ccb=1-7&_nc_sid=8cd0a2&_nc_eui2=AeF6KXF0oHVLnZKw_ANfFyx7BJQof5cqjj8ElCh_lyqOPxbQ6ZUvVg_RkJG6AaFK2RB7qM1A3B_b8yjXmE3hrHm2&_nc_ohc=kpYt5hUukLoAX9RXbL3&_nc_ht=scontent.fsgn5-12.fna&oh=03_AdTib0uMbYh7tLOLpWpSAPbs2Z22LyUOAgMuVTS8V2LMiQ&oe=657C533E" width="100" height="36" />
                                    <img src="https://scontent.fsgn5-13.fna.fbcdn.net/v/t1.15752-9/386873290_728299252652296_5711556893291856049_n.png?_nc_cat=101&ccb=1-7&_nc_sid=8cd0a2&_nc_eui2=AeGRfsukCFSwFNAB9bGBDi8r9XzumiAMNxv1fO6aIAw3G3jKFD1n_yBb0RPo5-7_voyT2v3J1Jdxz2HeOjDgLKFG&_nc_ohc=7bHPg0cDYaMAX8zJd-J&_nc_ht=scontent.fsgn5-13.fna&oh=03_AdSH8_ZZRt7heZgZJb0RqeHYx9IYhvLVfV6bgUdthElt2Q&oe=657C4879" width="100" height="36" />
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--Grid row-->
                </section>
                <!-- Section: Links -->
            </div>
            <!-- Grid container -->
            <!-- Copyright -->
            <div class="text-center p-3"
                 style="background-color: rgba(0, 0, 0, 0.2)">
                © 2023 Copyright:
                <a class="text-white" href="https://mdbootstrap.com/">Huỳnh Nhật Quân ft. Nguyễn Hữu Thành</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
    </div>
    <!-- End of .container -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.slim.min.js"></script>
    <script src="https://kit.fontawesome.com/103727226d.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


    @RenderSection("scripts", required: false)


</body>
</html>
