@using Tiki.Models


@{
    ViewBag.Title = "General";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-pills nav-justified mb-3" style="border-style: solid; border-radius: 12px; border-width: 1px; border-color: rgb(128, 128, 128,0.2);" id="pills-tab" role="tablist">

    <li class="nav-item border-end" role="presentation">
        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="false">Đơn hàng đặt thành công</button>
    </li>


    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Đơn hàng đã hủy</button>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Thông tin tài khoản</button>
    </li>
</ul>


<div class="tab-content" style="margin-bottom: 430px;" id="pills-tabContent">

    <div class="tab-pane fade show active " id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="container d-flex flex-column flex-md-row align-items-center gap-2">

            @if (ViewBag.DonHangList != null)
            {

                foreach (var item in ViewBag.DonHangList)
                {
                    <div class="card  flex-md-row  align-items-center" style="width: fit-content">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="https://th.bing.com/th/id/OIP.rG8fM9GW4btcOiC4N9wv1AHaH6?pid=ImgDet&rs=1" class="img-thumbnail" width="150" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Đơn hàng đặt lúc <span class="text-muted">@item.NgayDat</span></h5>

                            <a href="@Url.Action("Invoices", "User", new { maDH = item.MaDonHang, tenKH = item.KhachHang.TenKhachHang })" class="btn btn-primary">Xem hóa đơn</a>

                            <a data-bs-toggle="modal" data-bs-target="#confirmPopup_@item.MaDonHang" class="btn btn-danger">
                                Hủy đơn hàng
                            </a>

                            <!-- Modal -->
                            <div class="modal fade" id="confirmPopup_@item.MaDonHang" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered ">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Bạn có chắc muốn hủy đơn hàng này?</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không</button>
                                            <a href="@Url.Action("RemoveOrder", "User", new { maDH = item.MaDonHang, tenKH = item.KhachHang.TenKhachHang })" class="btn btn-danger">Hủy đơn hàng</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }




            }
            else
            {
                <p>Bạn chưa mua món hàng nào!.</p>
            }
        </div>
    </div>

    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

        @if (ViewBag.DonHangDaHuy != null)
        {
            foreach (var item in ViewBag.DonHangDaHuy)
            {
                <ul class="list-group">
                    <li class="list-group-item">
                        <ul class="p-0 my-2">
                            @foreach (var tenSanPham in item.TenSanPham)
                            {
                                <li style="list-style: none" class="fw-bold main-blue-color mb-2">@tenSanPham</li>
                            }
                        </ul>
                 
                        <div class="d-flex align-items-center justify-content-between my-2">
                            <p>Ngày hủy : <span class="text-muted">@item.NgayHuy</span> </p>
                            <span class="badge bg-danger rounded-pill">Đã hủy</span>
                        </div>



                    </li>

                </ul>
            }
        }
        else
        {
            <p>Bạn chưa hủy đơn nào.</p>
        }


    </div>




    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">

        <div class="card">
            <div class="card-body p-4 p-md-5">
                <h3 class="mb-4 pb-2">Thông tin cá nhân của bạn</h3>




                @using (Html.BeginForm("UpdateCustomerInfo", "User", FormMethod.Post))
                {

                    <div class="row">
                        <div class="col-md-6 mb-4">

                            <div class="form-outline">
                                <i class="fas fa-user fa-lg me-1 fa-fw"></i>
                                <label class="form-label" for="name">Tên</label>
                                <input type="text" id="name" required name="TenKhachHang" value="@Model.TenKhachHang" class="form-control  form-control-lg" />
                            </div>

                        </div>
                        <div class="col-md-6 mb-4">

                            <div class="form-outline">
                                <i class="fa-solid fa-lg fa-fw me-1 fa-location-dot"></i>
                                <label class="form-label" for="address">Địa chỉ</label>
                                <input type="text" id="address" required name="DiaChi" value="@Model.DiaChi" class="form-control  form-control-lg" />
                            </div>

                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6 mb-4">

                            <div class="form-outline">
                                <i class="fas fa-envelope fa-lg me-1 fa-fw"></i>
                                <label class="form-label" for="emailAddress">Email</label>
                                <input type="email" id="emailAddress" required readonly value="@Model.Email" name="Email" class="form-control  form-control-lg" />
                            </div>

                        </div>
                        <div class="col-md-6 mb-4">

                            <div class="form-outline">
                                <i class="fa-solid fa-lg fa-fw me-1 fa-phone"></i>
                                <label class="form-label" for="phoneNumber">Số điện thoại</label>
                                <input type="tel" id="phoneNumber" name="SoDienThoai" value="@Model.SoDienThoai" required class="form-control  form-control-lg" onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
                            </div>



                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-4">

                            <div class="form-outline">
                                <i class="fa-solid fa-credit-card"></i>
                                <label class="form-label" for="typeText">Số thẻ</label>

                                <input type="text" id="typeText" class="form-control form-control-lg"
                                       placeholder="1234 5678 9012 3457" minlength="16" maxlength="19" name="SoThe" value="@Model.SoThe" onkeypress='return event.charCode >= 48 && event.charCode <= 57' />



                            </div>
                        </div>
                        <div class="col-md-4 mb-4">

                            <div class="form-outline">
                                <i class="fa-regular fa-calendar-xmark"></i>
                                <label class="form-label" for="expirationDate">Ngày hết hạn</label>
                                <input type="text" id="expirationDate" class="form-control form-control-lg" name="NgayHH" value="@Model.NgayHH"
                                       placeholder="05/2023" size="7" minlength="7" maxlength="7" oninput="formatExpirationDate(this)" />
                            </div>


                        </div>

                        <div class="col-md-2">
                            <div class="form-outline form-white">
                                <i class="fa-brands fa-css3-alt"></i>
                                <label class="form-label" for="CVV">Cvv</label>
                                <input type="password" id="CVV" class="form-control form-control-lg" name="CVV" value="@Model.CVV"
                                       placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3" min="100" max="999" maxlength="3" onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
                            </div>
                        </div>
                    </div>
                    <div class="mt-4">
                        <input class="btn btn-primary bg-main-blue btn-lg" type="submit" value="Cập nhật" />
                    </div>

                }
            </div>
        </div>
    </div>
</div>




<script>
    function formatExpirationDate(input) {
        // Lấy giá trị nhập vào
        var value = input.value;

        // Loại bỏ các ký tự không phải số và "/"
        value = value.replace(/[^0-9/]/g, '');

        // Kiểm tra độ dài
        if (value.length > 7) {
            value = value.substr(0, 7);
        }

        // Tách tháng và năm
        var parts = value.split('/');

        // Định dạng lại giá trị ngày tháng
        if (parts[0]) {
            parts[0] = parts[0].substring(0, 2);
            if (parseInt(parts[1]) < 1) {
                parts[0] = '01';
            } else if (parseInt(parts[0]) > 12) {
                parts[0] = '12';
            }
        }

        if (parts[1]) {
            parts[1] = parts[1].substring(0, 4);
        }

        // Gán giá trị đã định dạng lại vào trường nhập
        input.value = parts.join('/');

        // Tự động thêm "/" sau khi nhập hai số đầu
        if (input.selectionStart === 2 && input.selectionEnd === 2 && input.value.length === 2) {
            input.value = input.value + '/';
        }
    }
</script>
