@using Tiki.Models

@{
    ViewBag.Title = "Invoices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    var tk = Session["KhachHang"] as Tiki.Models.KhachHang;
}

<div class="card">

    <div class="card-body">
        <div class="container mb-5 mt-3">
            <div class="row d-flex align-items-baseline">
                <div class="col-xl-9">
                    <p class="d-flex align-items-center gap-1" style="color: #7e8d9f;font-size: 20px;">
                        <i class="fa-solid fa-receipt"></i> Hóa Đơn >


                        <span class="fw-bolder">ID: #@ViewBag.MaDonHang</span>

                    </p>
                </div>
                <div class="col-xl-3 float-end">
                    <a class="btn btn-light text-capitalize border-0" data-mdb-ripple-color="dark">
                        <i class="fas fa-print text-primary"></i> Print
                    </a>
                    <a class="btn btn-light text-capitalize" data-mdb-ripple-color="dark">
                        <i class="far fa-file-pdf text-danger"></i> Export
                    </a>
                </div>
                <hr>
            </div>

            <div class="container">
                <div class="col-md-12">
                    <div class="text-center">
                        <img src="~/Assets/tiki_logo.png"
                             class="img-fluid rounded-3" style="width: 75px;" alt="Avatar">

                    </div>

                </div>


                <div class="row">
                    <div class="col-xl-8">
                        <ul class="list-unstyled">
                            @*TÊN KH*@
                            <li class="text-muted">Tới : <span class="main-blue-color">@tk.TenKhachHang</span></li>
                            @*ĐỊA CHỈ*@
                            <li class="text-muted">Địa chỉ : @tk.DiaChi</li>

                            @* SĐT *@
                            <li class="text-muted"><i class="fas fa-phone"></i> @tk.SoDienThoai</li>
                        </ul>
                    </div>
                    <div class="col-xl-4">
                        <p class="text-muted">
                            Chi tiết hóa đơn
                            <ul class="list-unstyled">

                                <li class="text-muted">
                                    <i class="fas fa-circle" style="color: #0a68ff;"></i> <span class="fw-bold">Ngày tạo: @ViewBag.NgayTaoDon</span>
                                <li class="text-muted">
                                    <i class="fas fa-circle" style="color: #0a68ff;"></i> <span class="me-1 fw-bold">Trạng thái:</span><span class="badge bg-main-blue text-white fw-bold">
                                        Đặt thành công
                                    </span>
                                </li>
                            </ul>
                    </div>
                </div>

                <div class="row my-2 mx-1 justify-content-center">
                    <table class="table table-striped table-borderless">
                        <thead style="background-color:#84B0CA ;" class="text-white">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Tên món hàng</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Giá đơn vị</th>
                                <th scope="col">Thành tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int indexSP = 1; // Initialize the index variable
                            }
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="row">@indexSP</th>
                                    <td>@item.SanPham.TenSanPham</td>
                                    <td>@item.SoLuong</td>
                                    <td>@string.Format("{0:N0}", item.DonGia) đ</td>
                                    <td>@string.Format("{0:N0}", item.SoLuong * item.DonGia) đ</td>
                                </tr>
                                indexSP++;
                            }

                        </tbody>

                    </table>
                </div>
                <div class="row">
                    <div class="col-xl-8">


                    </div>
                    <div class="col-xl-3">

                        <p class="text-black float-start">
                            <span class="text-black me-3"> Tổng cộng </span><span class="main-blue-color fw-bold" style="font-size: 25px;">@string.Format("{0:N0}", ViewBag.TongTienHoaDon) đ</span>
                        </p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12">
                        <p>Cảm ơn đã tin dùng sản phẩm ở Tiki</p>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

